* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background: url(paxels2.jpg);
  background-repeat: round;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-size: 16.008px;
  color: #0e2431;
}
a {
  text-decoration: none;
  color: #030303;
}
html {
  /*had scrole mhm katkhalik tmchi li catiguri bi tari9a smooth*/
  scroll-behavior: smooth;
}
.img {
  max-width: 100%;
  display: block;
  height: auto;
}
.head {
  background-color: rgba(255, 255, 255, 0.856);
  width: 100%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.356);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  /*DAWIR DYALHA KATBA3ID 3ANASIR 3ARDIYAM*/
  grid-column-gap: 32px;
  width: 80%;
  /*hadi katban heta kaskhir ecran li tele*/
  margin-left: 20px;
  margin-right: 20px;
}
.nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 65px;
  padding-top: 9px;
}
@media screen and (min-width: 1024px) {
  /* had min ya3ni dir hadchi minimal fi 1024px 9ali minha khadi idire dakchi li kharij media*/
  .bd-grid {
    /*had left o right katjibha fi center*/
    margin-left: auto;
    margin-right: auto;
  }
}

.textar {
  width: 550px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  padding: 8px;
  margin-bottom: 20px;
  margin-top: 40px;
  height: 550px;
  /*hade resize hiya likathayid dik tkbar fi textera*/
  resize: none;
  position: relative;
  right: 60px;
  top: 70px;
  box-shadow: 2px 3px 10px rgba(43, 41, 41, 0.507);
}
#result {
  background-color: rgba(255, 255, 255, 0.856);
  border: 1px solid black;
  box-shadow: 2px 3px 10px rgba(43, 41, 41, 0.507);
}
.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  top: 130px;
  /*had height omrik dirha
  height: 85vh;*/
}
.btnhed {
  padding: 12px 41px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #17283a;
  color: #17283a;
}
.btnhed:hover {
  border: 2px solid #0948f7;
  color: #0948f7;
}
.btn {
  background-color: #4070f4;
  color: #fff;
  padding: 15px 80px;
  font-weight: 600px;
  border-radius: 30px;
  font-size: 20px;
  margin: 0px 85px;
  position: relative;
  top: 80px;
  cursor: pointer;
  transition: 0.08s;
}
.btn:hover {
  background-color: #1045d6d2;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.438);
}
.btn:active {
  box-shadow: 0px 0px rgba(0, 0, 0, 0.438);
  /*Y 3AMODIYA FOK O TAHIT*/
  transform: translateY(5px);
}

.btn1 {
  background-color: #253342;
  color: #fff;
  padding: 15px 80px;
  font-weight: 600px;
  border-radius: 30px;
  font-size: 20px;
  margin: 0px 85px;
  position: relative;
  top: 80px;
  cursor: pointer;
  transition: 0.08s;
}
.btn1:hover {
  background-color: #1d252e;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.438);
}
.btn1:active {
  box-shadow: 0px 0px rgba(0, 0, 0, 0.438);
  /*Y 3AMODIYA FOK O TAHIT*/
  transform: translateY(5px);
}
.section-title {
  position: relative;
  top: 90px;
  right: 45px;
  font-size: 32px;
  color: #030303;
  text-align: center;
}
.contact__input {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 8px;
  border: 1.5px solid #0e2431;
  outline: none;
  margin-bottom: 32px;
}
.contact__form {
  width: 70%;
}
.contact__container {
  position: relative;
  top: 520px;
  padding-bottom: 100px;
  justify-items: center;
}
.section2-title2 {
  position: relative;
  top: -40px;
  text-align: center;
  font-size: 32px;
}
.button {
  display: block;
  margin-left: auto;
  background-color: #4070f4;
  color: #fff;
  padding: 12px 41px;
  font-weight: 600px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.08s;
}
@media screen and (max-width: 1244px) {
  .bd-grid {
    /*had left o right katjibha fi center*/
    margin-left: auto;
    margin-right: auto;
  }
  .about__container {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    top: 17px;
  }

  .abo {
    padding-bottom: 50px;
    position: relative;
    left: 300px;
    width: 500px;
  }

  .contact__container {
    position: relative;
    top: 200px;
    left: 20px;
  }
}
@media screen and (max-width: 1186px) {
  .about__container {
    position: relative;
    top: 17px;
    width: 1000px;
  }

  .abo {
    padding-bottom: 50px;
    position: relative;
    left: 300px;
    width: 500px;
  }

  .contact__container {
    width: 900px;
    position: relative;
  }
  .section1 {
    position: absolute;
    left: 40px;
  }
}
